.CheckPayment {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000F26;
    /* border: 1px solid; */
}
.check_loading_gif {
    width: 300px;
}