.ForgotPassword {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;

}
.forgot_modal_logo_box {
    width: 95%;
    height: 60px;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.forgot_modal_logo {
    width: 60px;
    height: auto;
}
.exit_forgot_modal {
    margin: 0;
    font-size: 25px;
    cursor: pointer;
}
.forgot_modal_header_box {
    width: 80%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* border: 1px solid; */
}
.forgot_modal_head{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin: 0;
}
.forgot_social_media_text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    opacity: 0.7;
    margin: 0;
}

.forgot_email_input {
    width: 80%;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    background: rgba(255, 255, 255, 0.1);
    /* backdrop-filter: blur(2px); */
    border-radius: 3px;
    border: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    text-indent: 10px;
}
.forgot_email_input:focus {
    outline: none;
}
.forgot_email_input::placeholder {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    letter-spacing: 1px;
}
.forgot_email_input:focus::placeholder{
    opacity: 0;
    transition: 0.5s;
}
.submit_forgot_email {
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: linear-gradient(95.27deg, #DB9A27 -20.42%, #DB9A27 2.85%, #DEDEDE 24.19%, #D3C4B0 26.13%, #C8AB84 29.04%, #BF965E 31.95%, #B7853E 33.89%, #B17726 36.8%, #AD6D15 39.71%, #AB680B 43.59%, #AA6608 47.47%, #D0C888 76.56%);
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
    cursor: pointer;
    margin: 30px 0 0 0;
}
.submit_forgot_email:focus {
    outline: none;
}
.submit_forgot_email:hover {
    background: linear-gradient(to right,#AB680B,#D3C4B0 ,#AB680B)
}
.forgot_link_tosignin_box {
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.forgot_link_tosignin {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    cursor: pointer;
    margin: 10px 0;
}
.password_sent_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    margin-top: 20%;
    text-align: center;
}
.exit_success_email_box{
    position: absolute;
    right: 20px;
    top: 20px;
}