body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  background: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
  background: #098A85; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: #098A85; 
}