<head>
    <title>Done</title>
    <link rel="stylesheet" href="/css/done.css">
</head>
<div class="doneBody">
    <form action="<%- link%>" method="post">
        <a href="#" onclick="this.parentNode.submit()">Back raffle to page</a>
    </form>
</div>
<%- include('../admin/firstPageForAdminLogin.ejs') %>