.raffleEditBody{
    position: absolute;
    top: 100px;
    left: 300px;
    width: 700px;
    display:flex;
    justify-content: center;
}
.editInfoContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.imageField{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.inputFields{
    margin: 20px 0 20px 0;
}
.input-group-field{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    flex-direction: column;
}
#textArea{
    resize: none;
}
