.AboutUs{
    /* height: 1500px; */
}
.about_welcome_box {
    width: 100%;
    height: auto;
    /* border: 1px solid ; */
    display: flex;
    margin-top: 90px;
}
.about_welcome_text_box {
    width: 50%;
    height: 600px;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(120.75deg, #005B92 1.78%, #06C0BB 97.99%);
}
.about_welcome_image_box{
    width: 50%;
    height: 600px;
    /* border: 1px solid; */
    display: flex;
    background-image: url(../../Images/About/girls.png);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}
.about_welcome_head_text {
    width: 80%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 43.164px;
    line-height: 168.18%;
    color: #FFFFFF;
    opacity: 0.8;
    text-shadow: 0px 4.3164px 10.791px rgba(0, 0, 0, 0.25);
}
.about_logo_text_box {
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    display: flex;
    background: #000F26;
}
.about_logo_box {
    width: 27%;
    height: 700px;
    display: flex;
    flex-direction: column;
    background: linear-gradient( to top,rgba(0, 255, 245, 0.2) 24.26%, rgba(0, 255, 245, 0.02) 100.01%);
    backdrop-filter: blur(8.51943px);   
}
.about_logo {
    width: 50px;
    height: 30px;
    margin:30px 50px;
}
.about_logo_text {
    margin: auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 95px;
    color: #FFFFFF;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transform: rotate(-90deg);
}
.about_text_box {
    width: 46%;
    height: 700px;
    display: flex;
    /* border: 1px solid white; */
}
.about_text_box_text {
    padding: 3% 7%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    color: #FFFFFF;
    opacity: 0.8;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.about_fon_box {
    width: 27%;
    height: 700px;
    display: flex;
    background: linear-gradient(120.75deg, #005B92 1.78%, #06C0BB 97.99%);
}
.about_welcome_present_box {
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    display: flex;
    background: #000F26;

}
.about_welcome_present_image_box {
    width: 50%;
    height:600px;
    /* border: 1px solid; */
    display: flex;
    background-image: url(../../Images/About/girls2.png);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-attachment: fixed;
}
.about_welcome_present_text_box {
    width: 50%;
    height: 600px;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 255, 245, 0.2) 24.26%, rgba(0, 255, 245, 0.02) 100.01%);
    backdrop-filter: blur(8.51943px);
}
.about_our_team_box {
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(180deg, rgba(0, 24, 60, 0.14) 0%, #00183C 100%), url(../../Images/profile/profilefon.png), rgba(255, 255, 255, 0.1);
    background-repeat: no-repeat;
    background-size: cover;
}
.about_our_team_head_box {
    width: 20%;
    height: 350px;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_our_team_head {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 55px;
    color: #FFFFFF;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    transform: rotate(-90deg);
    margin: 0;
}
.about_our_team_person_box {
    width: 20%;
    height: 350px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.team_person_box {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
}
.team_person {
    width: 100%;
    height: 100%;
}
.team_person_name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin: 15px 0 0 0;
}
.team_person_work {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    margin: 5px 0;
}
.about_founder_box {
    width: 100%;
    height: auto;
    /* border: 1px solid ; */
    display: flex;
}
.about_founder_text_box {
    width: 50%;
    height: 700px;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient( #005B92, #06C0BB);
}
.about_founder_head_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 95px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.about_founder_image_box {
    width: 50%;
    height: 700px;
    /* border: 1px solid; */
    display: flex;
    background-image: url(../../Images/About/founder.png);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}
.about_founder_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 220%;
    text-align: justify;
    color: #FFFFFF;
    opacity: 0.8;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 0 10%;
}

@media screen and (max-width:1250px) {
    .about_welcome_box{
        flex-direction: column;
    }
    .about_welcome_text_box {
        width: 100%;
        height: 300px;
    }
    .about_welcome_head_text{
        text-align: center;
    }
    .about_welcome_image_box {
        width: 100%;
        height: 500px;
        background-image: url(../../Images/About/girls.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-attachment: fixed;
    }
    .about_logo_box, .about_fon_box {
        display: none;
    }
    .about_text_box {
        width: 100%;
        height: auto;
        display: flex;
        /* border: 1px solid white; */
    }
    .about_welcome_present_box{
        flex-direction: column;

    }
    .about_welcome_present_image_box{
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-attachment: fixed;
    }
    .about_welcome_present_text_box {
        width: 100%;
        height: auto;
    }
    .about_our_team_box {
        flex-wrap: wrap;
    }
    .about_our_team_head_box{
        width: 100%;
        height: 150px;
    }
    .about_our_team_head{
        transform: rotate(0);
    }
    .about_founder_box {
        flex-direction: column;
    } 
    .about_founder_text_box {
        width: 100%;
        height: auto;
        padding: 20px 0;
        justify-content: center;
    }
    .about_founder_head_text {
        margin: 0;
    }
    .about_founder_image_box{
        width: 100%;
        height: 500px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        background-attachment: fixed;
    }
}
@media screen and (max-width:576px) {
    .about_welcome_box {
        margin-top: 70px;
    }
    .about_welcome_text_box {
        height: 170px;
    }
    .about_welcome_head_text {
        font-size: 25px;
        line-height: 35px;
    }
    .about_welcome_image_box {
        height: 400px;
        background-size:unset;
        background-position: top;
    }
    .about_welcome_present_image_box {
        height: 400px;
        background-size:unset;
        background-position: top;
    }
    .about_our_team_box{
        flex-direction: column;
        align-items: center;
    }
    .about_our_team_head_box {
        height: 120px;
    }
    .about_founder_image_box {
        height: 400px;
        background-size:unset;
        background-position: top;
    }
    .about_our_team_person_box {
        width: 80%;
        height: 270px;
    }
    .about_founder_head_text {
        font-size: 50px;
        line-height: 60px;
    }
}
